<h1>Stupid Coach</h1>

<div class="asking">
  <p><strong>Ask your coach anything:</strong></p>
</div>

<form action="answer" method="get">
  <input class="formbox" type="text" name="question" id="askbox">
  <input class="btn" type="submit" value="Ask">
</form>